.contents-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 30px 0;
}
.title-input{
  width: 500px;
  height: 40px;
  margin: 10px;
}
.write-button{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  border: 2px solid #333;
}