#Main{
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Main-header{
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    .title{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      .h1{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 60px;
        font-weight: bold;
      }
    }
    .None-title{
      display: flex;
      justify-content:start;
      align-items: center;
      width: 10%;
      .ui button{
        height: 40px;
      }
    }
  }
  .Main-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    border: 3px solid black;
    .Board{
      text-align: center;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    .user-container{
      display: flex;
      flex-direction: column;
      width: 25%;
      border: 2px solid black;
      padding: 10px 0 30px 0;
      .userInfo{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .checkIssue-button{
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
