#Register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/register_background.png");
  background-repeat: no-repeat;
  background-position: center;

  .register-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 500px;
    height: 620px;
    box-shadow: 0px 0px 20px #000;
  }
  h1 {
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px ;
  }
  .input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    position: relative;
    margin-top: 20px;
    font-weight: bold;
    font-size: medium;

    input {
      width: 75%;
      padding: 15px .8em .8em;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 30px;
      font-size: 18px;
      color: white;
      outline: none;
    }

    label {
      position: absolute;
      left: 10px;
      top: -2px;
      font-size: 14px;
      color: white;
    }
  }
  .btn-area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

    .register-btn {
      width: 170px;
      height: 55px;
      background-color: transparent;
      font-size: 20px;
      color: white;
      border: 2px solid white;
      font-weight: bold;
      border-radius: 25px;
      cursor: pointer;
    }
  }
}

